* {
    margin: 0;
    
}

#body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
}

#navbar {
    text-align: center;
    padding-top: 2vh;
}

#navbar li a:hover {
    color: #08DEFE;
}

#navbar li a {
    text-decoration: none;
    display: inline;
    color: white;
    text-align: center;
    font-size: 3vh;
    padding-left: 2%;
    padding-right: 2%;
}

#navbar li {
    display: inline;
    padding-top: 5%;
    padding-bottom: 5%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

#home {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(circuit_board_art-wallpaper-1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: white;
}

#home h1 {
    font-size: 15vh;
    text-align: center;
    color: white;
    padding-top: 30vh;
    margin: 0;
}

#home h3 {
    font-size: 5vh;
    text-align: center;
    color: white;
}

#about {
    background-color: #2c3e50;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    color: white;
}

#about a {
    color: #08DEFE;
    text-decoration: none;
}

#about a:hover {
    color: #3BB483;
    opacity: 70%;
}

#about p {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2.5vh;
}

#about h1 {
    font-size: 5vh;
}

/********************************Projects****************************/
#padthisright {
    margin-right: 5%;
}

#padthisbottom {
    margin-bottom: 5%;
}

#padthisleft {
    margin-left: 5%;
}
#projects{
    background-color: #2c3e50;
}
#Project {
    background-color: #7f8c8d;
    color: #2c3e50;
    height:50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Project h2 {
    font-size: 5vh;
    padding-top:5%;
}

#Project p {
    padding-top: 4vh;
    font-size: 2.5vh;
    padding-right: 10%;
}

#Project img {
    height: 50vh;
    max-width: 100%;
}

#Project a {
    color: #2c3e50;
    text-decoration: none;
}

#Project a:hover {
    color: #bdc3c7;
}
@media only screen and (max-width: 1250px) {
    #Project p{
        display: none;
    }
    #Project{
        height:50vh;
        text-align:center;
    }
    #Project img{
        width:auto;
        height:30vh;
    }
    #padthisleft{
        margin-left:5%;
        margin-right:5%;
    }
    #padthisright{
        margin-left:5%;
        margin-right:5%;
    }
}
/********************************End Projects****************************/




#contact {
    text-align: center;
    padding-bottom: 5vh;
    background-color: #2c3e50;
}
@media only screen and (max-width: 1250px) {
    #contactitem{
        padding-left:3%;
        padding-right:3%;
        display: inline-block;
    }
    #contact{
        text-align:center;
    }
}
#contact h2 {
    font-size: 5vh;
    color: white;
}

#contact p {
    font-size: 2.5vh;
    color: white;
}
#problemrow{
    margin:0;
}
#contact a {
    text-decoration: none;
    color: white;
}

#contact a:hover {
    color: #3BB483;
}

#contact span {
    font-size: 7vh;
}

#footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #08DEFE;
}

#footer a:hover {
    color: #3BB483;
}

#h2tagcontact {
    margin-right: 0;
    padding-right: 0;
}

.bmform_outer725339 {
    width:50%;
    text-align: center;
    margin-top:4vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bmform_head725339 {
    background-color: #34495e;
}

.bm_headetext725339 {
    color: #ecf0f1;
    font-size: 2vh;
    font-weight: bold;
}

.bmform_body725339 {
    background-color: #34495e;
    color: #ecf0f1;
    text-align:center;
}

.bmform_frmtext725339 {
    display: block;
    float: none;
    text-decoration: none;
    width: auto;
    font-weight: bold;
}

.bmform_frm725339 {
    color: #000000;
    float: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.bmform_button725339 {
    text-align: center;
    padding-top: 2vh;
    padding-bottom:2vh;
}

.bmform_submit725339 {
    height:4vh;
    width:auto;
}

#btnSubmit{
    color:#000000;
    font-size:2vh;
}